<div class="product-box">
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center"><%= t("account.order_list") %></h2>
        <% if @orders.present? %>
        <table class="table table-hover" style=" margin-top: 20px;">
          <thead>
            <tr>
              <th>#</th>
              <th><%= t("account.created_at") %></th>
              <th><%= t("status") %></th>
            </tr>
          </thead>
          <tbody>
            <% @orders.each do |order| %>
            <tr>
              <td>
                <%= link_to(order.id, order_path(order.token)) %>
              </td>
              <td>
                <%= order.created_at.to_s %>
              </td>
              <td>
                <%= render_order_status(order) %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <% else %>
        <div class="text-center account-order-index">
          <h4><i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> <%= t("no-order") %></h4>
          <div>
            <%= link_to(t("back"), products_path, :class => "btn btn-lg btn-default") %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="page-box text-center">
  <%= will_paginate @orders, :previous_label => t("pre"), :next_label => t("next"), renderer: BootstrapPagination::Rails %>
</div>
