<h2><%= t("order_list") %></h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t("admin.created_at") %></th>
      <th><%= t("admin.buyer") %></th>
      <th><%= t("admin.state") %></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td><%= link_to(order.id, admin_order_path(order)) %></td>
      <td><%= order.created_at.to_s %></td>
      <td><%= order.user.email %></td>
      <td><%= order.aasm_state %></td>
    </tr>
    <% end %>
  </tbody>
</table>
