<section class="jumbo-box">
  <div class="row up20 text-center">
    <div class="jumbotron jumbo1">
      <div class="push-block ">
        <h1>JDStore</h1>
        <p>潮酷3C 嗨抢到底</p>
        <p><%= link_to("立即选购", products_path, class: "btn btn-lg btn-push") %></p>
      </div>
    </div>
  </div>
</section>

<section class="service-box">
  <div class="row text-center">
    <div class="col-md-10 col-md-offset-1">
      <h2>服务优势</h2>
      <div class="short-line"></div>
      <div class="row down80">
        <div class="col-md-4">
          <div class="service-block">
            <div class="img-box">
              <%= image_tag("service1.jpg", class: "round-circle") %>
            </div>
            <h3>多</h3>
            <p>品类齐全 轻松购物</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-block">
            <div class="img-box">
              <%= image_tag("service2.jpg", class: "round-circle") %>
            </div>
            <h3>快</h3>
            <p>多仓直发 极速配送</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-block">
            <div class="img-box">
              <%= image_tag("service3.jpg", class: "round-circle") %>
            </div>
            <h3>好</h3>
            <p>正品行货 精致服务</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="row feedback-box">
  <div class="col-md-8 col-md-offset-2">
    <h2>用户反馈</h2>
    <div class="short-line"></div>
    <div id="feedback" class="carousel slide" data-ride="carousel">

      <ol class="carousel-indicators">
        <li data-target="#feedback" data-slide-to="0" class="active"></li>
        <li data-target="#feedback" data-slide-to="1"></li>
        <li data-target="#feedback" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <p>这是我用过最好的网站，手机种类众多、下单方便、送货快速，能在第一时间买到测评机型的平台，强力推荐。</p>
          <%= image_tag("feedback1.jpg") %>
          <strong>MKBHD - 测评人</strong>
        </div>
        <div class="item">
          <p>我是这网站的忠实用户，已经在这买好几年了，质量一直很好，而且不定时会有折扣，真的很划算！</p>
          <%= image_tag("feedback2.jpg") %>
          <strong>Michael - 测评人</strong>
        </div>
        <div class="item">
          <p>市售主流机型都会选择JDStore作为首发平台，销量既有保证的同时消费者也能第一时间买到现货，一石二鸟，双赢。</p>
          <%= image_tag("feedback3.jpg") %>
          <strong>Austin - 测评人</strong>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="jumbo-box2">
  <div class="row text-center">
    <div class="jumbotron jumbo2">
      <h3>天天低价 畅选无忧</h3>
      <p><%= link_to("立即选购", products_path, class: "btn btn-lg btn-push btn-center") %></p>
    </div>
  </div>
</section>

<div class="goTop">
  <span class="fa fa-chevron-up"></span>
</div>
