<div class="row">
  <div class="col-md-12">
    <h2><%= t("order_info") %></h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="80%"><%= t("product") %></th>
          <th><%= t("price") %></th>
          <th><%= t("quantity") %></th>
        </tr>
      </thead>
      <tbody>
        <% @product_lists.each do |product_list| %>
        <tr>
          <td>
            <%= product_list.product_name %>
          </td>
          <td>
            <%= product_list.product_price %>
          </td>
          <td>
            <%= product_list.quantity %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="total clearfix">
      <span class="pull-right">
        <%= t("total") %> <%= @order.total %> CNY
      </span>
    </div>
    <hr/>
    <h2><%= t("ship_info") %></h2>
    <table class="table table-striped table-bordered">
      <tbody>
        <tr>
          <td>
            <%= t("billing") %>
          </td>
        </tr>
        <tr>
          <td>
            <%= @order.billing_name %> - <%= @order.billing_address %>
          </td>
        </tr>
        <tr>
          <td>
            <%= t("shipping") %>
          </td>
        </tr>
        <tr>
          <td>
            <%= @order.shipping_name %> - <%= @order.shipping_address %>
          </td>
        </tr>
      </tbody>
    </table>
    <dev class="pull-left">
      <% if @order.order_placed? || @order.paid? %>
        <%= link_to(t("cancel"), apply_to_cancel_order_path(@order), method: :post, class: "btn btn-info") %>
      <% end %>
    </dev>
    <% if !@order.is_paid? && !@order.order_cancelled? %>
    <div class="group pull-right">
      <%= link_to(t("pay_alipay"), pay_with_alipay_order_path(@order.token), method: :post, class: "btn btn-danger") %>
      <%= link_to(t("pay_wechat"), pay_with_wechat_order_path(@order.token), method: :post, class: "btn btn-danger") %>
    </div>
    <% elsif @order.order_cancelled? %>
    <p class="text-center"><%= t("cancelled") %></p>
    <% else %>
    <p class="text-center"><%= t("paid") %></p>
    <% end %>
  </div>
</div>

<div class="col-md-6">
  <h2><%= t("shopping_list") %></h2>
  <table class="table table-boldered cart-table">
    <thead class="cart-head">
      <tr>
        <th colspan="2"><%= t("product") %></th>
        <th><%= t("quantity") %></th>
        <th><%= t("price") %></th>
      </tr>
    </thead>
    <tbody>
      <% @product_lists.each do |product_list| %>
      <tr>
        <td>
          <%= product_list.product_name %></div>
        </td>
        <td>
          <%= product_list.quantity %>
        </td>
        <td>
          <%= product_list.product_price %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="up-hr"></div>
  <div class="total clearfix">
    <span class="pull-right">
      <%= t("total") %> <%= render_cart_total_price(current_cart) %> CNY
    </span>
  </div>
</div>
