<div class="col-md-12">
  <div class="container">
<div class="col-md-10 col-md-offset-1">
  <!-- <div class="container"> -->
    <div class="row cart-goods">


      <div class="col-md-8 col-md-offset-2 cusform">
        <h2 class="text-center"><%= t("order_detail") %></h2>

        <div class="order-form">
          <%= simple_form_for @order do |f| %>
          <legend><%= t("billing") %></legend>
          <div class="form-group col-md-12">
            <%= f.input :billing_name, input_html: {value: current_user.name, class: "width-50"} %>
          </div>
          <div class="form-group col-md-12">
            <%= f.input :billing_address, input_html: {value: current_user.address} %>
          </div>
          <legend><%= t("shipping") %></legend>
          <div class="form-group col-md-12">
            <%= f.input :shipping_name, input_html: {value: current_user.name, class: "width-50"} %>
          </div>
          <div class="form-group col-md-12">
            <%= f.input :shipping_address, input_html: {value: current_user.address} %>
          </div>
          <div class="checkout text-center">
            <%= f.submit t("confirm_order"), class: "btn btn-lg btn-danger", data: {disable_with:t("submitting")} %>
          </div>
          <% end %>
        </div>
      </div>

      <h2 class="cart-h"><%= t("shopping_list") %></h2>
      <hr />
        <div class="row cuslist1">
          <div class="col-md-5">
            <div class="checkout-shipping">
              <%= t("delivery") %>：&nbsp; <%= t("shunfeng") %>
            </div>
            <div class="ship-explain">
              <i class="fa fa-paper-plane-o"></i> &nbsp; <%= t("ship-time") %>
            </div>
          </div>

          <div class="col-md-7 cuslist2">
            <% current_cart.cart_items.each do |cart_item| %>
            <div class="row">
              <div class="col-md-3">
                <%= link_to product_path(cart_item.product) do %>
                  <% if cart_item.product.photos[0].present? %>
                    <%= image_tag(cart_item.product.photos[0].avatar.small.url) %>
                  <% else %>
                    <%= image_tag("http://placehold.it/100x100&text=No Pic") %>
                  <% end %>
                <% end %>
              </div>
              <div class="col-md-3 cuscart">
                <div class="cart-caption"><%= link_to(cart_item.product.title, product_path(cart_item.product)) %></div>
              </div>
              <div class="col-md-2 col-md-offset-1 cuscart" id="cusbtn">
                <%= cart_item.quantity %>
              </div>
              <div class="col-md-2 cuscart">
                ￥ <%= cart_item.product.price %>
              </div>
            </div>
            <hr />
            <% end %>
          </div>
        </div>
        <hr />
        <div class="total clearfix">
          <span class="pull-right">
            <%= t("total") %> <span class="checkoutsum">￥<%= render_cart_total_price(current_cart) %></span>
          </span>
        </div>
      </div>
    </div>
  <!-- </div> -->
</div>
</div>
</div>
