<h2><%= t("admin.product_list") %></h2>
<div class="row">
  <div class="pull-right" style="margin-right: 15px;">
  <%= link_to new_admin_product_path, class: "btn btn-primary" do %>
  <%= t("admin.add") %>
  <% end %>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-md-2 text-center">
    #
  </div>
  <div class="col-md-3">
    <div class="cart-caption" style="margin-left: 20px;">
      <%= t("admin.product_pic") %>
    </div>
  </div>
  <div class="col-md-3" id="cusbtn">
    <div class="text-center pull-left">
      <%= t("admin.name") %>
    </div>
  </div>
  <div class="col-md-2">
    ￥ <%= t("admin.price") %>
  </div>
  <div class="col-md-2">
    <div>
      <%= t("admin.option") %>
    </div>
  </div>
</div>

  <hr />
  <% @products.each_with_index do |product, index| %>
  <div class="row">
    <div class="col-md-2 cuscart text-center">
      <%= index + 1 %>
    </div>
    <div class="col-md-3">
      <div class="cart-caption">
        <%= link_to product_path(product) do %>
          <% if product.photos.present? %>
            <%= image_tag(product.photos[0].avatar.small.url) %>
          <% else %>
            <%= image_tag("http://placehold.it/100x100&text=No Pic") %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-md-3 cuscart" id="cusbtn">
      <div class="text-center pull-left">
        <%= product.title %>
      </div>
    </div>
    <div class="col-md-2 cuscart">
      ￥ <%= product.price %>
    </div>
    <div class="col-md-2 cus-pro-index">
      <div>
        <%= link_to edit_admin_product_path(product), :class => "btn btn-sm btn-default" do %>
          <%= t("admin.edit") %>
        <% end %>
        <%= link_to(t("admin.destroy"), admin_product_path(product), :method => :delete, :data => {:confirm => "Are you sure?"}, :class => "btn btn-sm btn-danger") %>

        <% if product.is_hidden %>
          <%= link_to(t("admin.publish"), publish_admin_product_path(product), :method => :post , :class => "btn btn-success btn-sm cus-btn") %>
        <% else %>
          <%= link_to(t("admin.hide"), hide_admin_product_path(product), :method => :post, :class => "btn btn-warning btn-sm cus-btn") %>

        <% end %>
      </div>
    </div>
  </div>
  <hr />
  <% end %>

  <div class="page-box text-center">
    <%= will_paginate @products, :previous_label => t("pre"), :next_label => t("next"), renderer: BootstrapPagination::Rails %>
  </div>
