<div class="product-box">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default" style="margin-top: 40px;">
        <div class="panel-heading cuspanel-head text-center">
          <h2><%= t("admin.add") %></h2>
        </div>
        <div class="panel-body">
          <%= simple_form_for [:admin, @product] do |f| %>
            <div class="group">
              <%= f.input :title %>
            </div>
            <div class="group">
              <%= f.input :friendly_id %>
              <p class="help-block">限小写英数字及横线，将作为网址的一部分</p>
            </div>
            <div class="group">
              <%= f.input :description %>
            </div>
            <div class="group">
              <%= f.input :quantity %>
            </div>
            <div class="group">
              <%= f.input :price %>
            </div>
            <div class="group">
              <%#= f.label :category_id %>
              <%#= f.select :category_id, Category.all.map{ |c| [c.name, c.id] }, {}, :class => "form-control" %>
              <%= f.association :category %>
            </div>
            <br />
            <div class="group">
              <%#= f.input :image, as: :file %>
              <%= f.label :avatar, t("admin.avatar") %>
              <%= f.file_field :avatar, :multiple => true, name: "photos[avatar][]" %>
            </div>
            <br />
            <div class="group">
              <%= f.label :rvatar, t("admin.river_pics") %>
              <%= f.file_field :rvatar, :multiple => true, name: "river_pics[rvatar][]"%>
            </div>
            <br />
            <div class="group">
              <%= f.input :is_hidden %>
            </div>
            <div class="group">
              <%= f.button :submit, t("submit"), :class => "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>

<script>
  $("#product_category_id").select2( { theme: "bootstrap"} );
  autosize($('#product_description'));
</script>
