<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-hearder">
      <a href="/" class="navbar-brand">JDStore</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="product_list">
          <%= link_to products_path do %>
            <%= t("product_list") %>
          <% end %>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= t("category") %>
            <span class="caret"></span>
          </a>
            <ul class="dropdown-menu">
              <% Category.all.each do |category| %>
              <li><%= link_to category.name, products_path(category: category.name) %></li>
              <% end %>
            </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= t("language") %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "简体中文", :controller => controller_name, :action => action_name, :locale => "zh-CN" %></li>
            <li><%= link_to "English", :controller => controller_name, :action => action_name, :locale => "en" %></li>
          </ul>
        </li>
        <li>
          <%= link_to carts_path do %>
          <%= t("cart") %> <i class="fa fa-shopping-cart"></i>
            <% count = 0 %>
            <% current_cart.cart_items.each do |cart_item| %>
            <% count += cart_item.quantity %>
            <% end %>
            （ <%= count %> ）
          <% end %>
        </li>

        <% if !current_user %>
          <li><%= link_to new_user_registration_path do %>
            <%= t("sign_up") %>
            <% end %>
          </li>
          <li><%= link_to new_user_session_path do %>
            <i class="fa fa-sign-in"></i><%= t("log_in") %>
            <% end %>
          </li>
        <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Hi!, <%= t("hello", :name => current_user.display_name) %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% if current_user.admin? %>
                <li><%= link_to admin_products_path do %>
                  <%= t("admin_panel") %>
                  <% end %>
                </li>
              <% end %>
              <li><%= link_to(t("user"), edit_account_user_path(current_user)) %></li>
              <li><%= link_to account_orders_path do %>
                <%= t("orders") %>
                <% end %>
              </li>
              <li><%= link_to(t("account.favorites"), account_favorites_path) %></li>
              <li><%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i><%= t("log_out") %>
                <% end %>
              </li>
            </ul>
          </li>
          <% end %>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
