<nav class="navbar navbar-default navbar-fixed-top cusnav" id="navbar" role="navigation">
  <div class="col-md-12">
    <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-hearder">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">JDStore</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="product_list">
          <%= link_to products_path do %>
            <%= t("product_list") %>
          <% end %>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= t("category") %>
            <span class="caret"></span>
          </a>
            <ul class="dropdown-menu">
              <% Category.all.each do |category| %>
              <li><%= link_to category.name, products_path(category: category.name) %></li>
              <% end %>
            </ul>
        </li>
      </ul>
      <div class="col-md-3 search">
      <%= form_tag search_products_path, :method => :get do %>
        <div class="input-group" id="search-id">
          <input type="text" class="form-control" name="q" value="<%= params[:q] %>" placeholder="输入您要查找的商品名称">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
      <% end %>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= t("language") %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "简体中文", :controller => controller_name, :action => action_name, :locale => "zh-CN" %></li>
            <li><%= link_to "English", :controller => controller_name, :action => action_name, :locale => "en" %></li>
          </ul>
        </li>
        <li>
          <%= link_to carts_path do %>
          <%= t("cart") %> <i class="fa fa-shopping-cart"></i>
            <% count = 0 %>
            <% current_cart.cart_items.each do |cart_item| %>
            <% count += cart_item.quantity %>
            <% end %>
            <span class="badge"><%= count %></span>
          <% end %>
        </li>

        <% if !current_user %>
          <li>
            <a href="#" data-toggle="modal" data-target="#signup-modal"><%= t("sign_up") %></a>
          </li>
          <li>
            <a href="#" data-toggle="modal" data-target="#login-modal"><i class="fa fa-sign-in"></i><%= t("log_in") %></a>
          </li>
        <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Hi!, <%= t("hello", :name => current_user.display_name) %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% if current_user.admin? %>
                <li><%= link_to admin_products_path do %>
                  <%= t("admin_panel") %>
                  <% end %>
                </li>
              <% end %>
              <li><%= link_to(t("user"), edit_account_user_path(current_user)) %></li>
              <li><%= link_to account_orders_path do %>
                <%= t("orders") %>
                <% end %>
              </li>
              <li><%= link_to(t("account.favorites"), account_favorites_path) %></li>
              <li class="divider"></li>
              <li><%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i><%= t("log_out") %>
                <% end %>
              </li>
            </ul>
          </li>
          <% end %>
      </ul>
    </div>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="loginmodal-container">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        <h2 class="text-center"><%= t("welcome") %></h2>
      </div>
      <div class="modal-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name),
                               :html => {:id => "sign_up_user"},
                               :format => :json,
                               :remote => true ) do |f| %>
          <%= devise_error_messages! %>

          <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-envelope"></span>
            </span>
            <%= f.email_field :email, autofocus: true, required: true, class: "form-control", placeholder: "Email" %>
          </div>

          <br>

          <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-lock"></span>
            </span>
            <%= f.password_field :password, autocomplete: "off", required: true,minlength: 6, class: "form-control", placeholder: "Password(6 character minimum)" %>
          </div>

          <br>

          <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-lock"></span>
            </span>
            <%= f.password_field :password_confirmation, autocomplete: "off", required: true, minlength: 6, class: "form-control", placeholder: "Repeat password" %>
          </div>

          <div class="form-actions">
            <br>
            <%= f.submit t("sign_up"), class: 'btn btn-success' %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-danger pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> <%= t("nope") %></button>
        <div class="links pull-right">
          <button class="btn btn-primary btn-small" data-toggle="modal" data-target="#login-modal" data-dismiss='modal'><%= t("log_in") %></button><br />
          <br>
          <div class="center-block">
            <button class="btn btn-primary btn-small text-center" data-toggle="modal" data-target="#forgot-modal" data-dismiss='modal'><%= t("forget") %></button><br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="login-modal" role="dialog">
  <div class="modal-dialog">
    <div class="loginmodal-container">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        <h2 class="text-center"><%= t("hey") %></h2>
      </div>
      <div class="modal-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name),
                               :html => {:id => "log_in_user"},
                               :format => :json,
                               :remote => true ) do |f| %>
          <%= devise_error_messages! %>

          <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-envelope"></span>
            </span>
            <%= f.email_field :email, autofocus: true, required: true, class: "form-control", placeholder:"Email" %>
          </div>

          <br>

          <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-lock"></span>
            </span>
            <%= f.password_field :password, autocomplete: "off", required: true, class: "form-control", placeholder: "Password" %>
          </div>

          <% if devise_mapping.rememberable? -%>
          <div class="checkbox col-md-12" style="padding-left:1.5em;">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
          <% end %>

          <div class="form-actions">
            <br>
            <%= f.submit t("log_in"), class: 'btn btn-success', id: 'login_btn' %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-danger pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> <%= t("nope") %></button>
        <div class="links pull-right">
          <button class="btn btn-primary btn-small" data-toggle="modal" data-target="#signup-modal" data-dismiss='modal'><%= t("sign_up") %></button><br />
          <br>
          <div class="center-block">
            <button class="btn btn-primary btn-small text-center" data-toggle="modal" data-target="#forgot-modal" data-dismiss='modal'><%= t("forget") %></button><br />
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="forgot-modal" role="dialog">
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                <h2 class="text-center"><%= t("forget") %></h2>
            </div>
            <div class="modal-body">
                <%= form_for(resource, as: resource_name, url: password_path(resource_name),
                                                :html => {:id => "forgot_password_user"},
                                                :format => :json,
                                                :remote => true ) do |f| %>
                    <%= devise_error_messages! %>

                    <div class="input-group">
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-envelope"></span>
                      </span>
                      <%= f.email_field :email, autofocus: true, required:true, class: "form-control", placeholder:"Email" %>
                    </div>

                  <div class="form-actions">
                    <br>
                    <%= f.submit t("send"), class: 'btn btn-success' %>
                  </div>
                <% end %>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> <%= t("nope") %></button>
                <div class="links pull-right">
                    <button class="btn btn-primary btn-small" data-toggle="modal" data-target="#login-modal" data-dismiss='modal'><%= t("log_in") %></button><br />
                    <br>
                    <div class="center-block">
                    <button class="btn btn-primary btn-small" data-toggle="modal" data-target="#signup-modal" data-dismiss='modal'><%= t("sign_up") %></button><br />
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
