<!DOCTYPE html>
<html>
  <head>
    <title>Jdstore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/59410ebe50fd5105d0c80f37/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
  </head>

  <body>
    <div class="container-fluid index-bg" style="padding-bottom: 100px;">
      <div class="row">
        <%= render "common/navbar" %>
      </div>
      <%= render "common/flashes" %>
      <div class="border cusborder"></div>
      <%= yield %>
    </div>
    <div class="row"></div>
    <%= render "common/footer" %>
  </body>
</html>
